header, span, .headnav {
  width: 100%;
}

header{
  display: flex;
  border-bottom: 1px black solid;
  height: 80px;
  align-items: center;
}

a, span{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

a {
  color: black;
}

.first span {
  color: MediumAquamarine;
  padding-left: 15px;
}

.headnav {
  display: flex;
  justify-content: flex-end;
}

.headnav a {
  padding: 10px;
}

img{
  padding-left: 30px;

}

.headnav {
  padding: 0px 30px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  margin: 55px 75px 0px 75px;
  height: 600px;
  font-family: Georgia;
  font-size: 15px;
  color: black;
  justify-content: : center;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

img.{
  width: 100%;
}

h2 {
margin: 0px 0px;
font-family: Georgia;
font-size: 30px;
font-weight: bold;
font-style: normal;
}

div.column.large {
  margin-right: 15px;
}

div.column.medium, div.column.small {
  margin: 0px 20px;
}

.tunaphish {
  background: url('images/img-story-main.png');
}

div.tunaphish, div.earthspun, div.research, div.cats {
  height: 300px;
}

.tunaphish span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.earthspun {
  background: url('images/img-story-2.png');
}

.research {
  background: url('images/img-story-3.png');
}

.cats {
  background: url('images/img-story-1.png');
}

.earthspun p, .research p, .cats p, .cookie p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 6px;
}

.cookie {
  background: url('images/img-news-bite.png');
}

div.cookie {
  height: 240px;
}

div.earthspun, div.research {
  width: 300px;
  display: inline-flex;
}

div.orcacopy, div.burgercopy {
  width: 300px;
  display: inline-block;
}

.orcacopy, .burgercopy {
  width: 300px;
}

div.orcacopy, div.burgercopy {
  margin-bottom: 15px;
}

div.earthspun, div.research{
  margin-top: 15px;
}

div.orcacopy {
  margin-right: 24px;
}

div.earthspun {
  margin-right: 24px;
}
