body {

}

header, span, .headnav {
  width: 100%;
}

header{
  display: flex;
  border-bottom: 1px black solid;
  height: 80px;
  align-items: center;
}

a, span{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

a {
  color: black;
}

span {
  color: MediumAquamarine;
  padding-left: 15px;
}

.headnav {
  display: flex;
  justify-content: flex-end;
}

.headnav a {
  padding: 10px;
}

img{
  padding-left: 30px;
}

.headnav {
  padding: 0px 30px;
}

.container {
  font-size: 14px;
  display: flex;
  width: auto;
}

div, container {
  border: black 2px solid;
}
